/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

#popupBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.popup-content {
    padding: 20px;
    text-align: center;
}

.colors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.color-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#colorInput {
    padding: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

#applyColorBtn {
    padding: 5px 10px;
    cursor: pointer;
}

.show {
    display: block;
    opacity: 1;
    transition: 2s;
}
